---
import type { Gallery } from '@/types/index'

interface Props {
    gallery: Gallery[]
}

const { gallery } = Astro.props

---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    {gallery.map(image => (
        <img 
            src={image.large.url} 
            alt="Galeria de imagenes"
            width={image.large.width}
            height={image.large.width}
        />
    ))}
</div>