---
    import Logo from '@/assets/logo.svg';
    import MainNav from './MainNav.astro';

    interface Props {
        bgImage: string
        subtitle: string
    }

    const {subtitle, bgImage} = Astro.props;
---
<header
    class="min-h-72 relative pb-72"
    style={`background-image: url('${bgImage}'); background-size: cover; background-position: center;`}
>
    <div class="inset-0 absolute bg-black/60"></div>
    
    
    <div class="relative max-w-7xl mx-auto py-3 ">
        <div class="flex flex-col items-center lg:flex-row lg:justify-between">
            <a href="/">
                <Logo class={"w-72"}/>
            </a>
            <MainNav />
        </div>


        <h1 class="text-4xl font-black uppercase text-white text-center mt-14">{subtitle}</h1>
    </div>
</header>